/* Badge Sizes */
[bdg-size="xl"] {
    width: 24px;
    height: 24px;
  }
  [bdg-size="xl"] .label .icn {
    font-size: var(--r4);
  }
  
  [bdg-size="l"] {
    width: 24px;
    height: 24px;
  }
  [bdg-size="l"] .label .icn {
    font-size: var(--r4);
  }
  
  [bdg-size="m"] {
    width: 16px;
    height: 16px;
  }
  [bdg-size="m"] .icn {
    font-size: var(--r4);
  }

  [bdg-size="sm"] {
    width: 10px;
    height: 10px;
  }

  [bdg-size="s"] {
    width: 6px;
    height: 6px;
  }
  
  /* Badge Color */
  [bdg-clr="d"] {
    background: rgba(var(--fd500), 1);
  }
  
  [bdg-clr="w"] {
    background: rgba(var(--fw500), 1);
  }
  
  [bdg-clr="s"] {
    background: rgba(var(--fs500), 1);
  }
  
  [bdg-clr="p"] {
    background: rgba(var(--p500), 1);
  }
  
  [bdg-clr="n"] {
    background: rgba(var(--n700), 1);
  }

/* Badge Availability Color */
  [bdg-clr="on"] {
    background: rgba(var(--green-500), 1);
  }
  [bdg-clr="off"] {
    background: rgba(var(--grey-300), 1);
  }
  [bdg-clr="busy"] {
    background: rgba(var(--red-500), 1);
  }

/* Badge Location */
[bdg-loc="tl"] {
  position: absolute;
  top: 0;
  left: 0;
}

[bdg-loc="tr"] {
  position: absolute;
  top: 0;
  right: 0;
}

[bdg-loc="bl"] {
  position: absolute;
  bottom: 0;
  left: 0;
}

[bdg-loc="br"] {
  position: absolute;
  bottom: 0;
  right: 0;
}
[bdg-loc="c"] {
  position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
  right: 0;
}
