:root {
  --chic-bg: rgba(var(--n000), 1);
}
/* Chiclet Size */
[chic-size="in"] {
  font-size: inherit;
}

[chic-size="xs"] {
  height: 24px;
  padding: 8px 8px;
  font-size: 12px;
  border-radius: 4px;
}

[chic-size="s"] {
  height: 32px;
  padding: 8px 8px;
  font-size: 16px;
  border-radius: 4px;
}

[chic-size="m"] {
  height: 36px;
  padding: 8px 8px;
  font-size: 16px;
  border-radius: 4px;
}

[chic-size="l"] {
  height: 48px;
  padding: 8px 14px;
  font-size: 18px;
  border-radius: 6px;
}

[chic-size="d"] {
  height: auto;
  padding: 6px 8px 6px 8px;
  border-radius: 6px;
}

/**** Chiclet Style & Type ****/
/* Chic Primary */
[chic-style="pf"] {
  background: rgba(var(--p500), 1);
  color: rgba(var(--n000), 1);
}
[chic-style*="pf"][x-disabled*="true"] {
  background: rgba(var(--p200), 1);
  color: rgba(var(--p100), 1);
  cursor: not-allowed;
}

[chic-style="pl"] {
  background: rgba(var(--n000), 0.3);
  border-width: 1px;
  border-color: rgba(var(--p500), 1);
  color: rgba(var(--p500), 1);
}
[chic-style="pl"][x-disabled*="true"] {
  border-color: rgba(var(--p100), 1);
  color: rgba(var(--p200), 1);
  cursor: not-allowed;
}

[chic-style="pt"] {
  background: rgba(var(--t000), 0);
  color: rgba(var(--p500), 1);
}
[chic-style="pt"][x-disabled*="true"] {
  color: rgba(var(--p200), 1);
  cursor: not-allowed;
}

/* Chiclet Neutral */
[chic-style="nf"] {
  background: rgba(var(--n500), 1);
  color: rgba(var(--n000), 1);
}
[chic-style="nf"][x-disabled*="true"] {
  background: rgba(var(--n200), 1);
  color: rgba(var(--n100), 1);
  cursor: not-allowed;
}

[chic-style="nl"] {
  background: rgba(var(--n000), 0.3);
  border-width: 1px;
  border-color: rgba(var(--n300), 1);
  color: rgba(var(--n700), 1);
}
[chic-style="nl"][x-disabled*="true"] {
  border-color: rgba(var(--n100), 1);
  color: rgba(var(--n200), 1);
  cursor: not-allowed;
}

[chic-style="nt"] {
  background: rgba(var(--n000), 0);
  color: rgba(var(--n700), 1);
}
[chic-style="nt"][x-disabled*="true"] {
  color: rgba(var(--n200), 1);
  cursor: not-allowed;
}

/* Chiclet Label Icon Location */
[icn-loc="left"] {
  flex-direction: row-reverse;
}
[icn-loc="top"] {
  flex-direction: column-reverse;
  grid-row-gap: 0px;
  padding-top: 4px;
}
[icn-loc="bottom"] {
  flex-direction: column;
  grid-row-gap: 0px;
  padding-bottom: 4px;
}


[chic-active="true"] {
  background: rgba(var(--p100), .5);
  border-width: 1px;
  border-color: rgba(var(--p500), 1);
  color: rgba(var(--p500), 1);
}
[chic-active="true"] * .label .txt {
	font-weight: bold;
}
[chic-active="true"] * .label .icn::first-letter {
    text-transform: uppercase;
}

.chic:not(:first-child) {
  border-left: 0px solid currentColor;
  border-bottom-left-radius: 0px;
  border-top-left-radius:0px;
}

[chic-multi="true"].chic:first-child {
  border-bottom-right-radius: 0px;
  border-top-right-radius:0px;

}

.chic:only-child {
  border-radius: 6px;
}
