[chip-style="pl"] {
  background: rgba(var(--p000), 0.3);
  border-width: 1px;
  border-color: rgba(var(--n300), 1);
  color: rgba(var(--7500), 1);
}

[chip-style="pl"]:disabled {
  border-color: rgba(var(--p100), 1);
  color: rgba(var(--p200), 1);
  cursor: not-allowed;
}

[chip-active="true"] {
  background: rgba(var(--p100), .5);
  border-width: 1px;
  border-color: rgba(var(--p500), 1);
  color: rgba(var(--p500), 1);
}
[chip-active="true"] * .label .txt {
	font-weight: bold;
}
[chip-active="true"] * .label .icn::first-letter {
    text-transform: uppercase;
}
