/* Section Header padding shift for LIC component */
[sechead="true"].lic-lead-icn {
  padding-right: 8px;
}
/* Section Header Size */
[sechead-size="in"] {
  font-size: inherit;
  height: inherit;
}

[sechead-size="t"] {
  font-size: var(--r4);
  min-height: 24px;
}
[sechead-size="t"] .subtxt {
  font-size: var(--r4);
  color: rgba(var(--n700), 1);
}

[sechead-size="xs"] {
  font-size: var(--r3);
  min-height: 32px;
}
[sechead-size="xs"] .subtxt {
  font-size: var(--r4);
  color: rgba(var(--n700), 1);
}

[sechead-size="s"] {
  font-size: var(--r2);
  padding-top: 16px;
}
[sechead-size="s"] .subtxt {
  font-size: var(--r4);
  color: rgba(var(--n700), 1);
}

[sechead-size="m"] {
  font-size: var(--r1);
}
[sechead-size="m"] .subtxt {
  font-size: var(--r4);
  color: rgba(var(--n700), 1);
}

[sechead-size="l"] {
  font-size: var(--h5);
  min-height: 44px;
}
[sechead-size="l"] .subtxt {
  font-size: var(--r3);
  color: rgba(var(--n700), 1);
}

[sechead-size="xl"] {
  font-size: var(--h4);
  padding-bottom: 32px;
}
[sechead-size="xl"] .subtxt {
  font-size: var(--r3);
  color: rgba(var(--n700), 1);
}

[sechead-size="h"] {
  font-size: var(--h3);
  min-height: 48px;
}
[sechead-size="h"] .subtxt {
  font-size: var(--r3);
  color: rgba(var(--n700), 1);
}
