/*****************************/
/**.    UTILITY STYLES     .**/
/*****************************/
/*
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lumosframework/lumos@v1.0.5/layout.css"/>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lumosframework/lumos@v1.0.5/spacing.css"/>

/* defaults */
* {
  --text-stroke-width: 0;
  -webkit-text-stroke-width: var(--text-stroke-width);
  --border-radius: 0;
  border-radius: var(--border-radius);
  --border-width: 0;
  border-width: var(--border-width);
  border-style: solid;
}

/* variables */
html {
  /* small section padding */
  --vt1: var(--size3);
  --vb1: var(--size3);
  /* medium section padding */
  --vt2: var(--size5);
  --vb2: var(--size5);
  /* large section padding */
  --vt3: var(--size9);
  --vb3: var(--size9);
  /* page padding */
  --pp1: 1rem;
  /* max width */
  --mw1: 90rem;
  --mw2: 70rem;
  /* stroke width */
  --sw1: var(--bw1);
  --sw2: var(--bw2);
  /* border radius */
  --br1: 2px;
  --br2: 4px;
  --br3: 8px;
  /* border width */
  --bw1: 1px;
  --bw2: 2px;
  /* default grid gap */
  --default-grid-gap: 1rem;
  --default-row-gap: var(--default-grid-gap);
  --default-column-gap: var(--default-grid-gap);
  /* spacing scale */
  --spacing-scale: 1;
}

/* DS: Drop Shadows */
.ds-3xs {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.118), 0 0 2px rgba(0, 0, 0, 0.137),
    0 1px 3px rgba(0, 0, 0, 0.2);
}
.ds-2xs {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2), 0 0 4px rgba(0, 0, 0, 0.137),
    0 3px 4px rgba(0, 0, 0, 0.118);
}
.ds-xs {
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2), 0 3px 3px rgba(0, 0, 0, 0.137),
    0 3px 4px rgba(0, 0, 0, 0.118);
}
.ds-s {
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2), 0 2px 4px rgba(0, 0, 0, 0.137),
    0 4px 5px rgba(0, 0, 0, 0.118);
}
.ds-m {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2), 0 1px 18px rgba(0, 0, 0, 0.118),
    0 6px 10px rgba(0, 0, 0, 0.137);
}
.ds-l {
  box-shadow: 0 3px 14px 3px rgba(0, 0, 0, 0.118), 0 4px 15px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.137);
}
.ds-xl {
  box-shadow: 0 5px 6px rgba(0, 0, 0, 0.2), 0 9px 12px 1px rgba(0, 0, 0, 0.137),
    0 3px 16px 2px rgba(0, 0, 0, 0.118);
}
.ds-2xl {
  box-shadow: 0 7px 8px rgba(0, 0, 0, 0.2), 0 12px 17px 2px rgba(0, 0, 0, 0.137),
    0 5px 22px 4px rgba(0, 0, 0, 0.118);
}
.ds-3xl {
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2),
    0 16px 24px 2px rgba(0, 0, 0, 0.137), 0 6px 30px 5px rgba(0, 0, 0, 0.118);
}
.ds-huge {
  box-shadow: 0 11px 15px rgba(0, 0, 0, 0.2),
    0 24px 38px 3px rgba(0, 0, 0, 0.137), 0 9px 46px 8px rgba(0, 0, 0, 0.12);
}

/* DS: Drop Shadows Properties*/
[bs="3xs"] {
  box-shadow: 0 2px 2px rgba(var(--n999), 0.118),
    0 0 2px rgba(var(--n999), 0.137), 0 1px 3px rgba(var(--n999), 0.2);
}
[bs="2xs"] {
  box-shadow: 0 1px 5px rgba(var(--n999), 0.2), 0 0 4px rgba(var(--n999), 0.137),
    0 3px 4px rgba(var(--n999), 0.118);
}
[bs="xs"] {
  box-shadow: 0 1px 8px rgba(var(--n999), 0.2),
    0 3px 3px rgba(var(--n999), 0.137), 0 3px 4px rgba(var(--n999), 0.118);
}
[bs="s"] {
  box-shadow: 0 1px 10px rgba(var(--n999), 0.2),
    0 2px 4px rgba(var(--n999), 0.137), 0 4px 5px rgba(var(--n999), 0.118);
}
[bs="m"] {
  box-shadow: 0 3px 5px rgba(var(--n999), 0.2),
    0 1px 18px rgba(var(--n999), 0.118), 0 6px 10px rgba(var(--n999), 0.137);
}
[bs="l"] {
  box-shadow: 0 3px 14px 3px rgba(var(--n999), 0.118),
    0 4px 15px rgba(var(--n999), 0.2), 0 8px 10px 1px rgba(var(--n999), 0.137);
}
[bs="xl"] {
  box-shadow: 0 5px 6px rgba(var(--n999), 0.2),
    0 9px 12px 1px rgba(var(--n999), 0.137),
    0 3px 16px 2px rgba(var(--n999), 0.118);
}
[bs="2xl"] {
  box-shadow: 0 7px 8px rgba(var(--n999), 0.2),
    0 12px 17px 2px rgba(var(--n999), 0.137),
    0 5px 22px 4px rgba(var(--n999), 0.118);
}
[bs="3xl"] {
  box-shadow: 0 8px 10px rgba(var(--n999), 0.2),
    0 16px 24px 2px rgba(var(--n999), 0.137),
    0 6px 30px 5px rgba(var(--n999), 0.118);
}
[bs="h"] {
  box-shadow: 0 11px 15px rgba(var(--n999), 0.2),
    0 24px 38px 3px rgba(var(--n999), 0.137),
    0 9px 46px 8px rgba(var(--n999), 0.12);
}
[bs="n"] {
  box-shadow: none;
}
/* DS: Text Shadows Properties*/
[ts="3xs"] {
  text-shadow: 0 2px 2px rgba(var(--n999), 0.118),
    0 0 2px rgba(var(--n999), 0.137), 0 1px 3px rgba(var(--n999), 0.2);
}
[ts="2xs"] {
  text-shadow: 0 1px 5px rgba(var(--n999), 0.2),
    0 0 4px rgba(var(--n999), 0.137), 0 3px 4px rgba(var(--n999), 0.118);
}
[ts="xs"] {
  text-shadow: 0 1px 8px rgba(var(--n999), 0.2),
    0 3px 3px rgba(var(--n999), 0.137), 0 3px 4px rgba(var(--n999), 0.118);
}
[ts="s"] {
  text-shadow: 0 1px 10px rgba(var(--n999), 0.2),
    0 2px 4px rgba(var(--n999), 0.137), 0 4px 5px rgba(var(--n999), 0.118);
}
[ts="m"] {
  text-shadow: 0 3px 5px rgba(var(--n999), 0.2),
    0 1px 18px rgba(var(--n999), 0.118), 0 6px 10px rgba(var(--n999), 0.137);
}
[ts="l"] {
  text-shadow: 0 3px 14px 3px rgba(var(--n999), 0.118),
    0 4px 15px rgba(var(--n999), 0.2), 0 8px 10px 1px rgba(var(--n999), 0.137);
}
[ts="xl"] {
  text-shadow: 0 5px 6px rgba(var(--n999), 0.2),
    0 9px 12px 1px rgba(var(--n999), 0.137),
    0 3px 16px 2px rgba(var(--n999), 0.118);
}
[ts="2xl"] {
  text-shadow: 0 7px 8px rgba(var(--n999), 0.2),
    0 12px 17px 2px rgba(var(--n999), 0.137),
    0 5px 22px 4px rgba(var(--n999), 0.118);
}
[ts="3xl"] {
  text-shadow: 0 8px 10px rgba(var(--n999), 0.2),
    0 16px 24px 2px rgba(var(--n999), 0.137),
    0 6px 30px 5px rgba(var(--n999), 0.118);
}
[ts="h"] {
  text-shadow: 0 11px 15px rgba(var(--n999), 0.2),
    0 24px 38px 3px rgba(var(--n999), 0.137),
    0 9px 46px 8px rgba(var(--n999), 0.12);
}
[ts="n"] {
  text-shadow: none;
}
/* frosted glass text */
[ts="on"] {
  text-shadow: 0px 0 0 rgba(var(--n000), 0.5), 0 1px 0 rgba(var(--n000), 0.5);
}
[ts="icn"] {
  text-shadow: 0px 0px 10px rgba(var(--n999), 1),
    0px 1px 2px rgba(var(--n999), 1);
}
[ts="icn-sup"] {
  text-shadow: 0px -1px 3px rgba(var(--n000), 0.3),
    0px 1px 3px rgba(var(--n000), 0.3), 0px 0px 6px rgba(var(--n000), 0.8);
}

/* tablet */
@media screen and (max-width: 991px) {
  html {
    /* page padding */
    --pp1: 1rem;
    /* spacing scale */
    --spacing-scale: 0.75;
  }
}

<!--brian: Adding ability to have tablet breakpoint at 1024 rather than the WF
  default 991 --> @media screen and (max-width: 1024px) {
  .w-nav[data-collapse="medium"] .w-nav-menu {
    display: none;
  }
  .w-nav[data-collapse="medium"] .w-nav-button {
    display: block;
  }
}

/* landscape */
@media screen and (max-width: 767px) {
  html {
    /* page padding */
    --pp1: 1rem;
    /* spacing scale */
    --spacing-scale: 0.5;
  }
}
/* portrait */
@media screen and (max-width: 479px) {
  html {
    /* page padding */
    --pp1: 1rem;
  }
}

/* section styles */
main section,
header,
footer {
  position: relative;
  padding-top: var(--vt2);
  padding-bottom: var(--vb2);
}
/* small */
[class*="vt1"],
[vertical-top="1"] {
  padding-top: var(--vt1);
}
[class*="vb1"],
[vertical-bottom="1"] {
  padding-bottom: var(--vb1);
}
/* medium */
[class*="vt2"],
[vertical-top="2"] {
  padding-top: var(--vt2);
}
[class*="vb2"],
[vertical-bottom="2"] {
  padding-bottom: var(--vb2);
}
/* large */
[class*="vt3"],
[vertical-top="3"] {
  padding-top: var(--vt3);
}
[class*="vb3"],
[vertical-bottom="3"] {
  padding-bottom: var(--vb3);
}
/* none */
[class*="vt0"],
[vertical-top="0"] {
  padding-top: 0;
}
[class*="vb0"],
[vertical-bottom="0"] {
  padding-bottom: 0;
}

/* container styles */
.w-container {
  position: relative;
  padding-left: var(--pp1);
  padding-right: var(--pp1);
  width: 100%;
  max-width: var(--mw1);
  container-type: inline-size;
}
/* page padding */
[class*="pp1"] {
  padding-left: var(--pp1);
  padding-right: var(--pp1);
}
[class*="pp0"] {
  padding-left: 0;
  padding-right: 0;
}
/* max width */
[class*="mw1"] {
  max-width: var(--mw1);
}
[class*="mw2"] {
  max-width: var(--mw2);
}
[class*="mw0"] {
  max-width: none;
}

/* stroke width */
[class*="sw1"] {
  --text-stroke-width: var(--sw1);
}
[class*="sw2"] {
  --text-stroke-width: var(--sw2);
}
[class*="sw0"] {
  --text-stroke-width: 0px;
}

/* border radius */
[class*="br1"] {
  --border-radius: var(--br1);
}
[class*="br2"] {
  --border-radius: var(--br2);
}
[class*="br3"] {
  --border-radius: var(--br3);
}
[class*="br0"] {
  --border-radius: 0rem;
}

/* border width */
[class*="bw1"] {
  border-width: var(--bw1);
  border-style: solid;
}
[class*="bw2"] {
  border-width: var(--bw2);
  border-style: solid;
}
[class*="bw0"] {
  border-width: 0;
}

/* border direction */
/**%{{border: top}**/
[class*="bw1t"],
[class*="bw2t"] {
  border-bottom-width: 0;
  border-left-width: 0;
  border-right-width: 0;
} /**}%**/

/**%{{border: bottom}**/
[class*="bw1b"],
[class*="bw2b"] {
  border-top-width: 0;
  border-left-width: 0;
  border-right-width: 0;
} /**}%**/

/**%{{border: left}**/
[class*="bw1l"],
[class*="bw2l"] {
  border-top-width: 0;
  border-bottom-width: 0;
  border-right-width: 0;
} /**}%**/

/**%{{border: right}**/
[class*="bw1r"],
[class*="bw2r"] {
  border-top-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
} /**}%**/

/**%{{border: vertical}**/
[class*="bw1v"],
[class*="bw2v"] {
  border-left-width: 0;
  border-right-width: 0;
} /**}%**/

/**%{{border: horizontal}**/
[class*="bw1h"],
[class*="bw2h"] {
  border-top-width: 0;
  border-bottom-width: 0;
} /**}%**/

/* pointer events */
[class*="pe0"] {
  pointer-events: none;
}
[class*="pe1"] {
  pointer-events: auto;
}
/**%{{pointer-events: children}**/
[class*="pe2"] {
  pointer-events: none;
}
[class*="pe2"] > * {
  pointer-events: auto;
}
/**}%**/

/* icon styles */
/**%#**/
[class*="ic1"] svg,
[class*="ic2"] svg {
  width: 100% !important;
  height: 100% !important;
}
/**#%**/
[class*="ic1"] * {
  fill: currentColor !important;
}
[class*="ic2"] * {
  stroke: currentColor !important;
}

/* cover */
[class*="cf1"] {
  width: 100%;
  height: 100%;
}
[class*="ca1"] {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/* Menus Wrapper: For display on desktop as a wrapper around menu components to change the sizing */
[mini="true"] {
  container-type: inline-size;
  container-name: menu;
  max-width:250px;
}
@container menu (max-width:250px) {
  .menuitem {
    min-height: 32px;
  }
  .g-privacy .menuitem {
    min-height: 48px;
  }
  .mic-lead-icn {
    padding: 0px 8px;
  }
  .label {
    font-size: var(--r4);
  }
  .shead {
    display: none;
  }
}
